.account{
    padding: 40px 60px 0px 40px;

    &__nick{
        font-size: rem(16px);
        color: #3897F0;
        margin-top: rem(12px);
        margin-bottom: rem(8px);

        @include tablets{
            font-size: 16px;
            margin-bottom: 4px;
            margin-top: 0;
        }
    }

    &__subsc{
        font-size: rem(14px);
        line-height: rem(17px);
        color: #6A7B83;
        margin-bottom: rem(12px);

        @include tablets{
            font-size: 14px;
            margin-bottom: 0;
        }
    }

    &__themes{
        font-size: rem(14px);
        line-height: 130.35%;
        color: #192229;
        padding: 0px 5%;
    }

    @include tablets{
        display: none;
        padding: 15px 15px 0 15px;
    }
}

.account__header--text{

    @include tablets{
        margin-left: 10px;
    }
}

.account--mobile{
    display: none;

    @include tablets{
        display: block;
    }
}

.account__header{
    display: flex;

    @include tablets{
        margin-bottom: 25px;
    }
}

.account__header--right{
    margin-left: rem(60px);
    display: flex;
}

.account__logo{
    border-radius: 50%;

    @include tablets{
        width: 40px;
        height: 39.26px;
    }
}

.account__header--left{
    width: 19%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;

    &::after{
        content: '';
        width: 213px;
        background: #D5DFE4;
        transform: rotate(90deg);
    }
}

.account__line{
    width: 100%;
    height: 0px;
    border: 2px dashed #D5DFE4;
    margin-top: rem(30px);
    margin-bottom: rem(24px);
}

.account--mobile__rating{
    background: #FFFFFF;
    border: 1px solid #D5DFE4;
    border-radius: 5px;
    width: 27%;
    min-height: 43.18px;
    display: flex;
    align-items: center;
}

.account--mobile__rating--text{
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #192229;
}

.account__header--bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom:1px solid #D5DFE4;
}

.account__line--mobile{
    display: block;

    @include tablets{
        display: none;
    }
}

.account__mobile--main--title{
    font-size: 16px;
    line-height: 19px;
    color: #192229;
    margin-top: 20px;
    margin-bottom: 13px;
}