.btn{
    background: #FFFFFF;
    border-radius: 5px;
    padding: rem(10px) rem(25px);
    border: 1px solid #D5DFE4;
    outline: none;
    cursor: pointer;
    font-size: rem(14px);

    &--theme--white{
        background: #FFFFFF;
    }

    &--theme--yellow{
        background: #FADB67;
        border: none;
    }

    &--theme--blue{
        background: #3897F0;
        color: white;
    }

    &--theme--gray{
        background: #B4BDC1;
        color: #FFFFFF;
        border: none;
    }

    &__continue{
        padding: rem(10px) rem(39px);
        margin-top: rem(40px);
    }

    &__buy{
        font-size: rem(16px);
        padding: rem(11px) rem(43px) rem(10px) rem(43px);
    }

    &__close{
        padding: rem(10px) rem(15px);
        margin-bottom: rem(50px);
    }
    
    &__card{
        font-size: 14px;
        margin-right: rem(15px);
        
        &:last-child{
            margin-right: 0;
        }
    }

    &__table{
        padding: rem(8px) 2% rem(7px) 2%;
        margin-right: rem(15px);
        width: 97px;

        &:last-child{
            margin-right: 0;
        }

        @include tablets{
            font-size: 16px;
        }
        // width: 11%;
    }

    &__link{
        text-decoration: none;
        position: absolute;
        bottom: 0;

        &--blue{
            text-decoration: none;
        }
    }

    &__set{
        padding: rem(10px) rem(15px);
        margin-right: rem(15px);
        font-size: rem(14px);

        &:last-child{
            margin-right: 0;
        }
    }

    @include tablets{
        font-size: 14px;
    }
}

.btn__add-new{
    font-size: rem(14px);
    color: #192229;
    margin-top: rem(39px);

    @include tablets{
        display: none;
    }
}

.btn--mobile{
    display: none;

    @include tablets{
        display: block;
        margin-top: 0;
        margin-bottom: 24px;
        font-size: 14px;
    }
}

.btn__upload{
    padding: 10px 41px;
    font-size: 14px;
}

.btn__uploaded{

    &::before{
        content: '✔';
        position: absolute;
        color: #ffffff;
        background: #6AC259;
        border-radius: 50%;
        width: rem(16px);
        height: rem(16px);
        margin-left: -20px;

        @include tablets{
            width: 16px;
            height: 16px;
        }
    }
}

.btn__inmodal{
    padding: 10px 0;
    width: rem(148px);
    font-size: 14px;
    margin-right: rem(13px);

    &:last-child{
        margin-right: 0;
    }
}

.btn__set-added{
    background: white;
    color: inherit;
    border: 1px solid #D5DFE4;
    border-radius: 5px;
}

.btn__remove{
    &-active{
        display: none;
    }
}

.btn--mobile{
    white-space: nowrap;
}

.btn__card {

    @include tablets{
        width: 45%;
        padding: 10px 0;
        margin-right: 16px;

        &:last-child{
            margin-right: 0;
        }
    }
}

.btn__edit{

    @include tablets{
        width: 100%;
        padding: 0.55556rem 0;
    }
}

.btn__hide{

    @include tablets{
        width: 50%;
        margin-top: 10px;
    }
}

.btn__publication{

    @include tablets{
        flex: 1;
        margin-top: 10px;   
    }
}

.btn__copy{
    margin-top: 10px;
}

.btn__edit--link{
    @include tablets{
        width: 50%;
    }
}

.btn__nav{
    padding: 0;
    width: 90px;
    height: 36px;
    font-size: 14px;
    color: #6A7B83;
}

.btn--white--mobile{

    @include tablets{
        display: none;
    }
}

.btn__mb{
    @include tablets{
        margin-bottom: 15px;
    }
}

.btn--next--step{
    width: 140px;

    @include tablets{
        width: 92px;
    }
}

.btn--back--reviews{
    width: 166px;
}

.btn__mobile{
    display: none;
    margin-right: 9px;

    @include tablets{
        display: block;
    }
}

.btn__reviews{
    @include tablets{
        width: 142px;
        padding: 7px 0;
    }
}

.btn__text--opac{
    color: #6A7B83;
    font-size: 12px;
}

.btn__triangle{
    position: relative;

    &:after{
        content: ''; 
        position: absolute;
        right: 5%;
        top: 41%;
        border: 5px solid transparent;
        border-top: 6px solid #B4BDC1;
    }
}