.burger{
    display: flex;
    flex-direction: column;
}

.burger__planc{
    background: #B4BDC1;
    width: 20px;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 3px;
    border: 2px solid #B4BDC1;


    &:last-child{
        margin-bottom: 0;
    }
}