.card__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(26px);
    margin-top: 26px;

    @include tablets{
        flex-wrap: wrap;
        margin-top: 24px;
    }
}

.card__wrap{
    display: flex;
    align-items: center;

    @include tablets{
        flex-wrap: wrap;
    }
}

.card__title{
    font-size: rem(24px);
    line-height: rem(28px);
    color: #192229;
    margin-right: rem(20px);

    @include tablets{
        font-size: 20px;
        width: 46%;
    }
}

.card__hide{
    font-size: 24px; 
    color: #B4BDC1;


    @include tablets{
        font-size: 20px;
    }
}

.card__title--hide{
    @include tablets{
        width: auto;
    }
}

.card__wrap--hide{

    @include tablets{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 9px;
    }
}