.filters{
    background: #FFFFFF;
    box-shadow: 0px 3px 10px rgba(0, 73, 129, 0.1);
    border-radius: 10px;
    padding: 30px 28px 30px 20px;
    width: 80%;
    margin-right: rem(30px);

    @include tablets{
        display: none;
    }
}

.filters__column--wrap{
    display: flex;
    justify-content: space-between;
}

.filters__column--wrap--opac{
    opacity: 0.5;

    &-active{
        opacity: 1;
    }
}

.filters__row{
    margin-bottom: 44px;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;

    &:last-child{
        margin-bottom: 0;
    }
}

.filters__row--title{
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 8px;
    white-space: nowrap;
    width: 100%;
}

.filters__row--input{
    font-size: 14px;
    padding: 10px;
    padding-bottom: 9px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid #d5dfe4;
    width: 100%;
    color: #192229;
}

.filters__column{
    width: 23%;
}

.input__numbers{
    width: calc(50% - 5px);
}

.filters__next--text{
    margin-top: 58px;
    font-size: 16px;
}

.show--filters{
    color: #3897F0;
    cursor: pointer;
    margin-left: 15px;
}

.filters__set-added{
    position: absolute;
    top: 76px;
    left: 0;
    right: 0;
    z-index: 111111111111;
    background: white;
}

.filters__title--wrap{

    @include tablets{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    
}

.filters__row--checkboxes{
    margin-top: rem(25px);
    margin-bottom: rem(34px);

    &:last-child{
        margin-top: 0;
    }
}

.reviews__second--head{
    display: none;
    @include tablets{
        background: #F8F8F8;
    padding: 12px 15px;
    }
    
}

.filters__checkbox{
    position: relative;

    &::before{
        position: absolute;
    }
}

.filters__checkbox--text{
    white-space: nowrap;
    margin-left: 15px;
}

.black-list.filters__checkbox{
    &:before{
        top: 3px;
    }
}

.filters__mobile{
    width: 100%;
    height: 100%;
    position: absolute;
    left: -100%;
    transition: 0.5s;
    z-index: 123456;
    background: rgba(0,0,0, 0.5);

    &--title{
        font-size: 16px;
        margin-top: rem(26px);
        margin-bottom: rem(15px);
    }
}

.filters__mobile--opened{
    left: 0;
}

.filters__mobile--wrap{
    width: 73%;
    padding: 20px 15px;
    background: white;
    height: 100%;
}

.filters--moderation--search{
    @include tablets{
        display: block !important;
    }
}

.filters__cross--line:first-child{
    position: absolute;
    width: 3px;
    height: 30px;
    top:0;
    right:0;
    background: white;
    transform: matrix(0.71, 0.71, -0.7, 0.71, 0, 0);
    border-radius: 3px;
}

.filters__cross--line:last-child{
    position: absolute;
    width: 3px;
    height: 30px;
    top:0;
    right:0;
    background: white;
    transform: matrix(0.71, -0.71, 0.7, 0.71, 0, 0);
    border-radius: 3px;
}

.filters__cross{
    position: absolute;
    top: 24px;
    right: 13%;
}