.footer{
    background: #424858;
    padding-top: rem(16px);
    padding-bottom: rem(17px);
}

.footer__list{
    display: flex;
    justify-content: center;
}

.footer__link{
    color:white;
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
}

.footer__item{
    margin-right: rem(30px);

    &:last-child{
        margin-right: 0;
    }
}