.format{
    padding-top: 0;

    @include tablets{
        padding: 30px 15px 20px 15px;
    }
}

.format__title{
    font-size: rem(20px);
    color: #192229;
}

.format__warn{
    font-size: rem(16px);
    color: #192229;
    margin-top: rem(16px);

    &--bold{
        font-weight: 700;
    }

    &--link{
        text-decoration: none;
        color: #3897F0;
    }

}