.logo{
    text-decoration: none;
}

.logo__block{
    display: flex;
    align-items: center;
    margin-right: rem(61px);
    cursor: pointer;
}

.logo__pic{
    width: rem(44px);
    height: rem(50px);
    border-radius: 41%;
    margin-right: rem(13px);

    @include tablets{
        width: 44px;
        height: 50px;
        image-rendering: pixelated;
    }
}

.logo__text--main{
    font-style: normal;
    font-weight: normal;
    font-size: rem(16px);
    line-height: rem(19px);
    color: #192229;
    margin-bottom: rem(3px);

    @include tablets{
        margin-bottom: 12px;
        font-size: 16px;
    }
}

.logo__text--second{
    font-style: normal;
    font-weight: normal;
    font-size: rem(14px);
    line-height: rem(17px);
    color: #6A7B83;
    
    @include tablets{
        font-size: 14px;
    }
}