.menu__header-list{
    display: flex;

    @include tablets{
        display: none;
    }

    &--active{
        align-items: center;
    }
}

.menu__header-link{
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    color: #6A7B83;

    &:hover{
        color: #6A7B83;
    }
}

.menu__header-item{
    margin-right: rem(25px);

    &:nth-child(2){
        margin-right: rem(36px);
        position: relative;

        // &:after{
        //     content: url("../../img/decor/reviews.png");
        //     background-color: #6A7B81;
        //     position: absolute;
        //     top: 14px;
        //     left: 47px;
        //     height: 3px;
        //     width: 6px;
        // }
    }

    &:last-child{
        margin-right: 0;
    }
}

.menu__header--triangle{
    height: 10px;
    width: 8px;
    position: absolute;
    fill: #6A7B81;
    top: 28%;
    right: -22%;

    &--active{
        position: static;
    }
}

.menu__header-item--active{
    border:1px solid #3897F0;
    border-radius: 5px;
    margin-right: 1rem !important;
    padding: 8px;
}