.notification{
    padding: rem(39px) rem(20px) rem(30px) rem(20px);
    display: flex;

    @include tablets{
        flex-direction: column;
        order:1;
    }
}

.notification__block{
    flex: 1;
    margin-right: rem(158px);

    &:last-child{
        margin-right: 0;

        @include tablets{
            border: none;
            padding-bottom: 0;
            padding-top: 26px;
        }
    }

    @include tablets{
        margin-right: 0;
        padding-bottom: 26px;
        border-bottom: 1px solid #D5DFE4;
    }
}

.notification__title{
    font-size: rem(18px);
    color: #192229;

    &--small{
        font-size: rem(16px);
        color: #192229;
        margin-top: rem(20px);
        margin-bottom: rem(16px);

        @include tablets{
            font-size: 16px;
        }
    }

    @include tablets{
        font-size: 18px;
    }
}

.notification__text--blue{
    color: #3897F0;
    font-size: (16px);
    margin-top: rem(20px);
}

.notification__checkbox{
    &:before{
        border: 1px solid #6A7B83 !important;
    }
}

.notification__checkbox:checked + .setting__common--label::before{
    line-height: normal !important;
    @include tablets{
        line-height: 27px !important;
    }
}