.paid__header{
    display:flex;
    align-items: center;
    margin-top: 20px;

    @include tablets{
        flex-direction: column;
        align-items: flex-start;
        padding-left: 30px;
        padding-bottom: 30px;
        margin-top: 30px;
    }
}

.paid__filter{
    margin-top: 16px;
    border-top:  1px solid #D5DFE4;
    display: none;

    &-open{
        display: block;
    }

    @include tablets{
        display: block;
        border-top: none;
    }
}

.paid__filter--title{
    margin-right: 20px;
    font-size: 14px;

    @include tablets{
        margin-bottom: 14px;
    }
}

.settings__country--filter{
    width: 100%;
}

.black-list{
    // margin-top: 56px;
    display: block !important;

    @include tablets{
        margin-top: 0;
    }
}

.black-list-text{
    margin-left: 15px;

    @include tablets{
        margin-left: 23px;
    }
}

.stataage{
    @include tablets{
        flex: 3 !important;
    }
}