.payment{
    padding: rem(50px) rem(20px) rem(30px) rem(20px);


    &--desctop{
        @include tablets{
            display: none;
        }
    }
    
    @include tablets{
        padding: 20px 15px 30px 15px;
    }
}

.payment__title{
    font-size: rem(20px);
    color: #192229;

    &--small{
        font-size: rem(16px);
        margin-top: rem(13px);
        margin-bottom: rem(9px);
    }

    @include tablets{
        font-size: 18px;
    }
}

.payment__open--desc{
    font-size: 14px;
    line-height: 150%;
    color: #3897F0;
    margin-top: 3px;
    cursor: pointer;
}

.payment__opac--mobile{
    display: none;
}

.payment__title--icon{
    width: rem(16px);
    height: rem(16px);
    background: #6AC259;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    margin-left: rem(8px);

    @include tablets{
        width: 16px;
        height: 16px;
    }
}

.payment__title--wrap{
    color: white;
    font-size: 13px;
    position: absolute;
    left: 3px;
}
.payment__opac{
    margin-top: rem(10px);
}

.payment-radio__text{
    font-size: rem(14px);
    color: #192229;
    margin-top: rem(3px);

    &--opac{
        opacity: 0.4;
    }

    @include tablets{
        font-size: 14px;
        display: flex;
        flex-direction: column;
    }
}

.payment__radios{
    display: flex;
}

.settings__radio--button.payment__radio{
    width: 24%;
    height: 60px;
    margin-right: 15px !important;

    &:last-child{
        margin-right: 0 !important;
    }

    @include tablets{
        width: auto;
        height: 89px;
        flex: 1;
    }
}

.payment-radio__wrap{
    height: 100%;
    align-items: flex-start !important; 

    @include tablets{
        padding: 8px 0 11px 10px !important;
    }
}

.payment__radios{
    margin-bottom: rem(15px);
}

.payment__title--wrap--close{
    color: white;
    font-size: 20px;
    position: absolute;
    left: 3px;
    top: -6px;
}

.payment__title--icon--close{
    background: #FE6663;
}

.radio__block--mobile{
    @include tablets{
        display: none !important;
    }
}

.radio__text--mobile{
    @include tablets{
        font-size: 16px !important;
    }
}
