.price__list{
    display: flex;
    justify-content: space-between;
    margin-top: rem(30px);
    align-items: center;
    cursor: pointer;

    @include tablets{
        flex-direction: column;
        align-items: normal;
    }
}

.price__item{
    background: #FFFFFF;
    border: 1px solid #D5DFE4;
    border-radius: 10px;
    padding: rem(30px) 0px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--discount{
        width: auto;
        flex: 1;
        z-index: 40;
        margin-right: rem(30px);

        &:last-child{
            margin-right: 0;
        }

        @include tablets{
            margin-right: 0;
            padding: 0;
            align-items: normal;
            padding: 20px 15px;
            margin-bottom: 20px;
        }
    }

    &-active{
        width: 24%;
        padding-top: 40px;
        padding-bottom: 40px;
        background: #FFFCE3;
    }
}

.price__prev{
    color: #B4BDC1;
    font-size: rem(16px);
    line-height: rem(19px);
    text-decoration-line: line-through;

    @include tablets{
        font-size: 14px;
    }
}

.price__quantity{
    font-size: rem(20px);
    line-height: rem(24px);
    color: #192229;
    margin-bottom: rem(20px);

    &--discount{
        margin-bottom: rem(12px);

        @include tablets{
            margin-bottom: 8px;
            font-size: 18px;
        }
    }
}

.price__discount{
    font-size: rem(24px);
    line-height: rem(22px);
    color: #192229;
    margin-bottom: rem(10px);

    &--small{
        color: #B4BDC1;
        font-size: rem(16px);

        @include tablets{
            font-size: 14px;
        }
    }

    @include tablets{
        font-size: 20px;
    }
}

.price__number{
    margin-bottom: rem(20px);
    text-align: center;

    @include tablets{
        text-align: start;
    }
}

.price--blue--text{
    background: #3897F0;
    border-radius: 3px;
    color: white;
    padding: 2px 6px;
    font-size: rem(14px);
    margin-bottom: rem(17px);

    @include tablets{
        background: #F1F1F1;
        color: #192229;
        margin-bottom: 8px;
        font-size: 14px;
    }
}
.price__quantity--mobile{

    @include tablets{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.price__buy--mobile{

    @include tablets{
        display: flex;
        justify-content: space-between;
    }
}

.price__number{
    @include tablets{
        margin-bottom: 0;
    };
}

.price__btn{

    @include tablets{
        padding: 9px 12px;
        background: #3897F0;
        color: white;
        font-size: 14px;
    }
    
}
