.reviews{
    min-height: 836px;

    &__h{
        margin-top: rem(40px);
        margin-bottom: rem(30px);

        @include tablets{
            width: auto;
        }
    }

    @include tablets{
        display: none;
    }
}

.reviews--mobile{
    display: none;

    @include tablets{
        display:block;
    }
}

.ss-main .ss-single-selected .placeholder .ss-disabled{
    color: #192229;
}

.reviews__number{
    width: 52px;
    font-size: 15px;
    color: #000000;
}

.reviews__header{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 18px 20px;

    @include tablets{
        padding: 20px 15px 15px 15px;

    }
}

.reviews__leftside{
    display: flex;
    align-items: center;
}

.reviews__rightside{
    display: flex;
    align-items: center;
}

.reviews__title{
    margin-right: rem(15px);
    white-space: nowrap;

    @include tablets{
        font-size: 18px;
    }
}

.reviews__show{
    margin-bottom: 0;
    margin-right: rem(11px);
    white-space: nowrap;
}

.reviews__table{
    width: 100%;

    @include tablets{
        display: none;
    }
}

.rerviews__yet{
    width: 100%;
    border: 1px solid #D5DFE4;
    font-size: rem(14px);
    text-decoration: none;
    cursor: pointer;
    color: #6A7B83;
    text-align: center;
    padding: rem(20px) 0px;

    &--link{
        text-decoration: none;

        @include tablets{
            font-size: 14px;
        }
    }

    @include tablets{
        border: none;
        border-bottom: 1px solid #D5DFE4;
    }
}

.reviews__second--head{
    display: block;
    border-top: 1px solid #D5DFE4;
    display: flex;
    justify-content: center;
}

.reviews__filter--wrap{
    display: flex;
    margin-bottom: 30px;
}

.reviews__buttons--wrap{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;

    @include tablets{
        margin-bottom: 0;
    }
}

.filters__row--themes{
    position: relative;

    &:after{
        content: ''; 
        position: absolute;
        right: 5%;
        top: 67%;
        border: 5px solid transparent;
        border-top: 6px solid #B4BDC1;
    }
}

.select2-results__option{
    padding-right: 0;
}

.select2-search__field::placeholder{
    color: #192229;
}

.select2-search__field:-ms-input-placeholder{
    color: #192229;
}

.select2-search__field::-ms-input-placeholder{
    color: #192229;
}

.select2-search__field::-webkit-input-placeholder{
    color: #192229;
}

.select2-search__field::-moz-placeholder{
    color: #192229;
}

.reviews__tracker{
    background: #FFFCE3;
    padding: rem(10px) 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviews__tracker--text{
    font-size: 14px;
    margin-right: rem(20px);
    white-space: nowrap;
}

.reviews__filter--wrap{
    @include tablets{
        margin-bottom: 0;
    }
}

.dropdown-menu.show{
    width: 172%;
    font-size: 14px;
    left: -3px !important;
}

.dropdown-item{
    padding: rem(11px) rem(15px);
}

.text-change{
    display: inline-block;
    width: 100%;
}

.reviews__closed{
    display: none;
    background: #FFFCE3 !important;

    &-active{
        display: block;
    }
}

.select2-results__option[aria-selected]{
    font-size: 13px;
}

.twolines{
    width: 14%;
}

.reviews__title--text{
    margin-bottom: 0;
}

.history__buttons{
    display: flex;
    margin-bottom: 20px;
} 