.reviews{
    min-height: 836px;

    &__h{
        margin-top: rem(40px);
        margin-bottom: rem(30px);

        @include tablets{
            width: auto;
        }
    }

    @include tablets{
        display: none;
    }
}

.reviews--mobile{
    display: none;

    @include tablets{
        display:block;
    }
}

.reviews__number{
    width: rem(60px);
    color: #000000;
}

.reviews__header{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 18px 20px;

    @include tablets{
        padding: 20px 15px 15px 15px;

    }
}

.reviews__leftside{
    display: flex;
    align-items: center;
}

.reviews__rightside{
    display: flex;
    align-items: center;
}

.reviews__title{
    margin-right: rem(15px);
    white-space: nowrap;

    @include tablets{
        font-size: 18px;
    }
}

.reviews__show{
    margin-bottom: 0;
    margin-right: rem(11px);
    white-space: nowrap;
}

.reviews__table{
    width: 100%;

    @include tablets{
        display: none;
    }
}

.rerviews__yet{
    width: 100%;
    border: 1px solid #D5DFE4;
    font-size: rem(14px);
    text-decoration: none;
    cursor: pointer;
    color: #6A7B83;
    text-align: center;
    padding: rem(20px) 0px;

    &--link{
        text-decoration: none;

        @include tablets{
            font-size: 14px;
        }
    }

    @include tablets{
        border: none;
        border-bottom: 1px solid #D5DFE4;
    }
}

.reviews__second--head{
    display: block;
    border-top: 1px solid #D5DFE4;
    display: flex;
    justify-content: center;
}

.reviews__filter--wrap{
    display: flex;
    margin-bottom: 30px;
}

.reviews__buttons--wrap{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.filters__row--themes{
    position: relative;

    &:after{
        content: ''; 
        position: absolute;
        right: 5%;
        top: 67%;
        border: 5px solid transparent;
        border-top: 6px solid #B4BDC1;
    }
}