.set-custom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include tablets{
        align-items: flex-start;
    }
}

.set-custom__desc{
    font-size: rem(16px);
    color: #192229;
    margin: 0;
    margin-bottom: rem(12px);

    @include tablets{
        font-size: 15px;
        padding-left: 0;
    }
}

.set-custom__buttons{
    display: flex;
    margin-top: rem(12px);
    margin-bottom: rem(30px);

    @include tablets{
        // width: 84%;
        flex-wrap: wrap;
    }
}

.set-custom__btn{
    padding: rem(10px) rem(15px);
    margin-right: rem(20px);

    &:last-child{
        margin-right: 0;
        @include phones{
            margin-top: 15px;
        }
    }

    &:hover{
        background: #3897F0;
        color: white;
    }

    &-active{
        background: #3897F0;
        color: white;
    }

    @include tablets{
        padding: 10px 15px;
    }
}

.set-custom__form{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: 0.3s;
    flex-direction: column;
    align-items: center;

    &--manyblocks{
        flex-direction: column;
    }

    &--wrap{
        display: flex;
        margin-bottom: rem(12px);
    }

    &--datetime{
        display: flex;
    }

    &-active{
        display: flex;
        position: static;
    }

    &--modal{
        align-items: flex-start;
    }

    @include tablets{
        align-items: flex-start;
    }
}

.set-custom__tabs{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &--modal{
        align-items: flex-start;
    }

    @include tablets{
        align-items: flex-start;
    }
}