.statistics__format{
    padding: rem(18px) rem(50px) rem(40px) rem(50px);
    position: relative;
}

.statistics__format--list{
    display: flex;
    justify-content: space-between;
}

.statistics__format--item{
    font-size: 14px;
    text-align: center;
    color: #6A7B83;
    width: 25%;


    &-active{
        color: #192229;
    }
}

.statistics__line{
    background: #F8F8F8;
    border-radius: 3px;
    width: 100%;
    height: 6px;
    margin-top: 10px;
    position: relative;

    &:before{
        content: '';
        width: 25%;
        background: #3897F0;
        border-radius: 3px;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 3px;
        height: 6px; 
    }
}

.statistics__line--sec{
    &:before{
        width: 50%;
    }
}

.statistics__line--third{
    &:before{
        width: 75%;
    }
}

.statistics__line--fourth{
    &:before{
        width: 100%;
    }
}


.statistics__format--title{
    margin-top: 40px;
    font-size: 24px;
    // margin-bottom: 30px;
}

.statistics__advertisment{
    background: #F8F8F8;
}

.statistics__settings--buttons{
    justify-content: flex-start;
}

.statistics__format--remove{
    color: #B4BDC1;
}

.statistics__buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.statistics__link{
    text-decoration: none;
}

.statistics__col{
    background: #FFFFFF;
    border: 1px solid #D5DFE4;
    border-radius: 10px;
    width: 41%;
    padding: 30px 54px 30px 53px;
    margin-right: 100px;

    &:last-child{
        margin-right: 0;
    }
}

.statistics__info--wrap{
    margin-right: 0 !important;
    border-bottom: 1px solid #D5DFE4;
    padding-bottom: 20px;

    &:last-child{
        border-bottom: none;
    }
}

.statistics__row{
    display: flex;
    margin-top: 27px;
}

.statistics__title--desc{
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 16px;
}

.settings__info--text--blue{
    color: #3897F0;
    font-size: 14px;
    margin-top: 10px;
}

.statistics__example--pic{
    border: 1px solid #D5DFE4;
    border-radius: 5px;
    padding: 10px;
}

.statistics__example--text{
    font-size: 14px;
    margin-top: 20px;
}

.statistics__col--padding{
    padding-left: 30px;
    padding-right: 30px;
}

