.statistics__format{
    padding: rem(18px) rem(50px) rem(40px) rem(50px);
    position: relative;

    @include tablets{
        box-shadow: none;
        padding: 0;
    }
}

.statistics__format--header{
    @include tablets{
        display: none;
    }
}

.statistics__format--header--mobile{
    display: none;

    @include tablets{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.mobile__text{
    font-size: 13px;
    line-height: 17px;
    color: #6A7B83;
}

.statistics__format--list{
    display: flex;
    justify-content: space-between;
}

.statistics__format--item{
    font-size: 14px;
    text-align: center;
    color: #6A7B83;
    width: 25%;


    &-active{
        color: #192229;
    }
}

.statistics__line{
    background: #F8F8F8;
    border-radius: 3px;
    width: 100%;
    height: 6px;
    margin-top: 10px;
    position: relative;

    &:before{
        content: '';
        width: 25%;
        background: #3897F0;
        border-radius: 3px;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 3px;
        height: 6px; 
    }
}

.statistics__line--sec{
    &:before{
        width: 50%;
    }
}

.statistics__line--third{
    &:before{
        width: 75%;
    }
}

.statistics__line--fourth{
    &:before{
        width: 100%;
    }
}


.statistics__format--title{
    margin-top: 40px;
    font-size: 24px;

    @include tablets{
        font-size: 20px;
        margin-top: 20px;
    }
    // margin-bottom: 30px;
}

.statistics__advertisment{
    background: #F8F8F8;

    @include tablets{
        padding: 0px 15px 20px 15px;
    }
}

.statistics__settings--buttons{
    justify-content: flex-start;
}

.statistics__format--remove{
    color: #B4BDC1;
    white-space: nowrap;
}

.statistics__buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.statistics__link{
    text-decoration: none;
}

.statistics__col{
    background: #FFFFFF;
    border: 1px solid #D5DFE4;
    border-radius: 10px;
    width: 45%;
    padding: 30px 54px 30px 53px;
    margin-right: 100px;

    &:last-child{
        margin-right: 0;
    }

    @include tablets{
        width: 100%;
        border: none;
        padding: 0;
    }
}

.statistics__info--wrap{
    margin-right: 0 !important;
    border-bottom: 1px solid #D5DFE4;
    padding-bottom: 20px;

    &:last-child{
        border-bottom: none;
    }
}

.statistics__row{
    display: flex;
    margin-top: 27px;

    @include tablets{
        flex-direction: column;
        
        &--margin{
            margin-top: 0;
        }
    }
}

.statistics__title--desc{
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 16px;
}

.settings__info--text--blue{
    color: #3897F0;
    font-size: 14px;
    margin-top: 10px;
}

.statistics__example--pic{
    border: 1px solid #D5DFE4;
    border-radius: 5px;
    padding: 10px;
}

.statistics__example--text{
    font-size: 14px;
    margin-top: 20px;
}

.statistics__col--padding{
    padding-left: 30px;
    padding-right: 30px;

    @include tablets{
        padding: 0;
    }
}

.statistics__setting--button{
    @include tablets{
        display: none;
    }
}

.statistics__info--block{
    margin-right: 13px;
}

.statistics__percent{
    position: relative;

    &::after{
        content: '%';
        position: absolute;
        font-size: 14px;
        right: 12px;
        top: 10px;
        color: #192229;
    }
}

// .select2-search__field{
//     width: auto !important;
// }
.statistics__question{
    position: relative;

    &::after{
        content: '?';
        background: #D5DFE4;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        font-size: 12px;
        text-align: center;
        display: inline-block;
        margin-left: 4px;

        @include tablets{
            width: 24px;
            height: 24px;
            background: #B4BDC1;
            font-size: 14px;
        }
    }
}

.audience__category--town{
    @include tablets{
        width: 61px;
        margin-right: 102px;
    }
}

.title__verification{
    text-align: center;

    @include tablets{
        font-size: 20px;
        margin-top: 29px;
        text-align: start;
        padding-right: 1%;
    }
}

.header__stata{
    @include tablets{
        display: none;
    }
}

.header__stata--mobile{
    @include tablets{
        border-bottom: 1px solid #D5DFE4;
        background: #FFFFFF;
        position: relative;
        box-shadow: 0px 3px 10px rgba(0, 73, 129, 0.1); 
    }
}

.textopac{
    opacity: 0.5;
}

.textbluemobile{
    display:none;

    @include tablets{
        display: block;
        font-size: 16px;
        color: #3897F0;
        margin-top: 6px;
    }
}

.statistics__row .ss-main .ss-single-selected .placeholder .ss-disabled{
    color: #6A7B83;
}

.statistics__buttons--abs{
    @include tablets{
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.statistics-settings__textarea{
    @include tablets{
        margin-bottom: 20px !important;
        width: 72%;
        height: 120px;
    }

    &::placeholder{
        color: #B4BDC1;
    }
}

// .format__list{
//     .select__body--duration{
//         width: 44%;
//     }
// }

.statistics__how--none{
    @include tablets{
        display: none;
    }
}

.statistics__how{
    @include tablets{
        height: 100%;
        position: absolute;
        width: 100%;
        background: white;
        display: block;
    }
}

.statistics__none{
    @include tablets{
        display: none;
    }
}

.stata__how{
    max-height: 1032px;
    overflow: scroll;
}

.stata__ex{
    margin-bottom: 60px;

    &:last-child{
        margin-bottom: 0;
    }
}

.link{
    text-decoration: none;
    display: inline-block;
}