.table{
    width: 100%;
    margin-top: rem(20px);

    @include tablets{
        display: none;
    }
}

.table__header{
    background: #F8F8F8;
}

.table__icon-ell{
    width: 18.24px;
    height: 18.56px;
    fill: #00D463;
}

.table__icon{
    width: 29px;
    height: 29px;
    background: #CCF6E0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: rem(9px);
}

.table__td-wrap{
    display: flex;
    align-items: center;
}

.table__header--td{
    font-size: rem(16px);
    color: #192229;
    padding-top: rem(21px);
    padding-bottom: rem(20px);
    padding-left: rem(30px);
}

.table__options{
    border-bottom: 1px solid #D5DFE4;

    &:last-child{
        border: none;
    }
}

.table__td{
    padding-top: rem(20px);
    padding-bottom: rem(20px);
    font-size: rem(14px);
    color: #192229;
    padding-left: rem(30px);
}

.table__price{
    font-size: rem(14px);
    color: #192229;
}

.table__reviews{

    &--text{
        height: 55px;
        font-size: rem(14px);
        color: #192229;
        border: 1px solid #D5DFE4;
        padding-left: rem(10px);

        &:first-child{
            border-left: none;
        }

        &:last-child{
            border-left: none;
        }
        
        &--blue{
            color: #3897F0;
        }

        &--link{
            text-decoration: none;
        }
    }

    &--small--text{
        font-size: rem(10px);
        color: #6A7B83;
    }
}

.table__reviews--title{
    font-weight: 500;
    font-size: rem(14px);
    line-height: rem(17px);
    color: #192229;
    border: 1px solid #D5DFE4;
    height: 55px;
    padding-right: rem(10px);
    padding-left: rem(10px);

    &:first-child{
        border-left: none;
    }

    &:last-child{
        border-right: none;
    }
}

.table__reviews--content{
    &:nth-child(2n){
        background: #F8F8F8;
    }
}

.table__mobile--title{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #192229;
}

.table__mobile--desc{
    font-size: 14px;
    line-height: 135%;
    padding-left: 14px;
    padding-right: 14px;
}

.table__mobile{
    display: none;
    @include tablets{
        display: block;
    }
}

.table__mobile--header{
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 15px;
    padding: 15px 14px 0 14px;
}

.table__mobile--price{
    position: absolute;
    right:15px;
}

.table__mobile--item{
    padding-bottom: 30px;
    border-bottom: 1px solid #D5DFE4;

    &:last-child{
        border-bottom: none;
    }

    &:nth-child(2n){
        background: #F8F8F8;
    }
}

.table__mobile{
    display: none;

    @include tablets{
        display: block;
    }
}

.table__mobile--wrap{
    padding: 15px 15px 25px 15px;
}

.table__mobile--date{
    font-size: 12px;
    line-height: 135%;
    text-align: right;
    color: #6A7B83;
    margin-bottom: 10px;
}

.table__item{
    border-top:1px solid #D5DFE4;
    border-bottom:  1px solid #D5DFE4;

    &:nth-child(2n){
        background: #F8F8F8;
    }
}

.table__mobile--block{
    display:flex;
    margin-bottom: 5px;

    &:last-child{
        margin-bottom: 20px;
    }
}

.table__mobile--text{
    color: #6A7B83;
    font-size: 14px;
    line-height: 135%;
    width: 45%;
    margin-right: 30px;
}

.table__mobile--value{
    color: #192229;
    font-size: 14px;
    line-height: 135%;
    
    &--blue{
        color: #3897F0;
    }
}

.table__mobile--open--review{
    font-size: 14px;
    line-height: 135%;
    color: #3897F0;
}

.table__navigation{
    padding-top: 30px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--numbers{
        display:flex;
        justify-content: center;
        margin-bottom: 15px;
    }

    &--buttons{
        width: 32%;
        display: flex;
        justify-content: space-between;

        @include tablets{
            width: 71%;
        }
    }
}

.table__navigation--item{
    width: 36px;
    height: 36px;
    color: #6A7B83;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D5DFE4;

    &-active{
        background: #3897F0;
        border: 1px solid #3897F0;
        color: white;
    }

    &:first-child{
        border-radius: 5px 0px 0px 5px;
    }
}

.table__reviews--text--green{
    color: #33CC74;
    font-weight: 400;
}

.table__reviews--text--cross{
    font-size: 20px;
    color:#6A7B83;
    text-align: center;
    padding: 0;
    border-right: none;
}
