.themes{
    background: #FFFFFF;
    border: 1px solid #D5DFE4;
    border-radius: 10px;
    padding: rem(30px) rem(45px) rem(40px) rem(80px);
    margin-top:20px;

    @include tablets{
        padding: 0;
        border: none;
        margin-top: 30px;
    }
}

.themes__row{
    display:flex;
    justify-content: space-between;

    @include tablets{
        flex-direction: column;
    }
}

.themes__title{
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 12px;   
}

.themes__info{
    font-size: 14px;
    line-height: 17px;
    color: #6A7B83;
    margin-top:8px;
    padding-right: 2%;
}

.themes__block{
    margin-bottom: 40px;

    &:last-child{
        margin-bottom: 0;
        padding-right: 7%;
    }

    @include tablets{
        margin-bottom: 34px;
    }
}

.themes__col{
    width: 39%;

    &:last-child{
        width: 43%;
    }

    @include tablets{
        width: 100%;
        padding-top: 35px;
        border-top: 1px solid #D5DFE4;
         
        &:first-child{
            margin-bottom: 35px;
            border: none; 
            width: 80%;
        }

        &:last-child{
            width:87%;
            padding-left: 19px;
        }

        textarea{
            width: 100%;
        }
    }
}

.themes__col--padd{
    @include tablets{
        padding-top: 0;
    }
}

.themes__input{
    width: 100%;
}

.themes__label{
    &::before{
        width: 21px;

        @include tablets{
            width: 40px !important;
        }
    }

    &--many{
        &::before{
            width: 31px;

            @include tablets{
                width: 60px !important;
            }
        }    
    }
}

.themes__block--margin{
    margin-bottom: 30px;
}

.themes__form--first{
    padding-bottom: 28px;
    border-bottom: 1px solid #D5DFE4;
    margin-bottom: 30px;
    @include tablets{
        padding-right: 1%;
    }
}

.setting__common--check[type="checkbox"]:checked + .setting__common--label::before{
    @include tablets{
        content: url("./img/icons/checkboxmobile.png");
        line-height: 25px;
    }
}

.setting__common--label::before{

    @include tablets{
        width: 24px;
        height: 24px;
    }
    
}

.radio__wrap {

    @include tablets{
        white-space: nowrap;
    }
}

.themes__checkbox--checked{
    margin-top: rem(30px);
    display:none;
}

.checkbox__open:checked + .label__fill--info + .themes__checkbox--checked{
    display: block;
}

.themes__checked--wrap{
    background: #FFFCE3;
    border-radius: 5px;
    padding: 10px;
}

.themes__checked--text{
    font-size: 14px;
}

.themes .select2-container--default.select2-container--focus .select2-selection--multiple{
    width: auto;
}

.themes__label--infoprod{

    &:before{
        width: 28px;
    }
    @include tablets{
        &:before{
            width: 51px !important;
        }
    }
}

.select2-dropdown{
    border: 1px solid #D5DFE4;
}

.themes {
    .statistics__question::after{
        line-height: 18px;

        @include tablets{
            line-height: 25px;
        }
    }
}

.setting__common--check[type="checkbox"]:checked + .setting__common--label.label__fill::before{

    @include tablets{
        line-height: 28px;
    }
}

.label--pd{
    @include tablets{
        padding-right: 15%;
    }
}

.label__fill{
    font-size: 16px;
    &:before{
        position: absolute;
        top: 5%;
        left:0;
        top: 7%;
        left: 0;
        border: 1px solid #6A7B83;
    }

    @include tablets{
        font-size: 14px;

        &:before{
            left:-7px;
        }
    }
}