.time{
    background: #FFFFFF;
    border: 1px solid #D5DFE4;
    border-radius: 5px;
    width: rem(90px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px 0px;
    cursor:pointer;
}

.time__dropdown{
    width: rem(10px);
    height: rem(8px);
    fill:#B4BDC1;
    transition: .3s;
    position: absolute;
    right:5%;

    @include tablets{
        width: 10px;
        height: 100%;
    }
}

.time__content{
    color:#192229;
}


.select {
    margin-right: rem(50px);
    position: relative;

    &__duration{
        margin-right: 0;
    }
}

.select--set{
    margin-right: 0;
}

.select--days{
    margin-right: rem(20px);
}
.select.is-active .select__body {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;

    &--days{
        align-items: flex-start;
        justify-content: flex-start;
    }

    &--duration{
        align-items: flex-start;
        justify-content: flex-start;
    }
}

.select.is-active .time__dropdown{
    transform: rotate(180deg);
}

.select__header {
	border: 1px solid #ccc;
	cursor: pointer;
    display: flex;
    width: rem(90px);
    margin-top: rem(12px);
    align-items: center;
    position: relative;

    &--set{
        background: #FFFFFF;
        border: 1px solid #D5DFE4;
        border-radius: 5px;
        margin-top: 0;
        padding: rem(9px) rem(9px);
        width: 95px;
    }

    &--days{
        background: #FFFFFF;
        border: 1px solid #D5DFE4;
        border-radius: 5px;
        margin-top: 0;
        width: rem(160px);
        padding: rem(9px) rem(9px);
    }

    &--duration{
        background: #FFFFFF;
        border: 1px solid #D5DFE4;
        border-radius: 5px;
        margin-top: 0;
        width: 50%;
        width: auto;

        @include tablets{
            width: 58%;
            height: 36px;
        }
    }

    &--time{
            height: 30px;
            border: 1px solid #D5DFE4;
            border-radius: 5px;
    }
}
.select__current {
	font-size: rem(14px);
	line-height: rem(24px);
    padding: rem(2px) rem(9px);
    color: #192229;

    @include tablets {
        font-size: 14px;
    }

    &--set{
        padding-left: 0;
        padding-right: rem(8px);
        padding-top: 0;
        padding-bottom: 0;
    }

    &--days{
        padding: 0;
        padding-right: rem(22px);
    }
    
    &--duration{
        padding: rem(7px) 0 (7px) 10px;
        font-size: 14px;

        @include tablets{
            padding: rem(2px) rem(9px);
        }

        &--opac{
            font-size: rem(14px);
            color: #6A7B83;

            @include tablets {
                font-size: 14px;
            }
        }
    }
}

.select__body {
    border-radius: 3px;
    border: 1px solid #192229;
	display: none;
	left: 0;
	position: absolute;
    right: 0;
    height: rem(260px);
    background: #FFFFFF;
    width: rem(266px);

    &--days{
        border: 1px solid #cccccc;
        border-top: 0;
        display: none;
        left: 0;
        position: absolute;
        right: 0;
        width: rem(160px);
        flex-direction: column;
        height: rem(176px);
        overflow-y: scroll;
    }

    &--duration{
        border: 1px solid #cccccc;
        border-top: 0;
        display: none;
        left: 0;
        position: absolute;
        right: 0;
        width: auto;
        flex-direction: column;
        height: rem(176px);
        overflow-y: scroll;

        @include tablets{
            width: 58%;
        }
    }
}
.select__item {
	cursor: pointer;
	font-size: 16px;
	line-height: 24px;
    padding: 8px;
    border: none;
    width: 200px;
    padding-left: 28%;
    font-size: 23px;
    color: #192229;


    &--days{
        padding: 10px 10px;
        font-size: rem(14px);
        width: auto;
        line-height: normal;
        width: 100%;

        &:hover{
            color: white;
            background-color: #3897F0;
        }
    }
    &--duration{
        padding: 10px 10px;
        font-size: rem(14px);
        width: auto;
        line-height: normal;
        width: 100%;

        &:hover{
            color: white;
            background-color: #3897F0;
        }
    }

    @include tablets{
        font-size: 14px;
    }
}



// .time__container{
//     width: 70px;
//     margin: 0 auto;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
// }

.select__duration{
    margin-right: 0;
}

.select__hints{
    display:flex;
    position: absolute;
    top:10px;
    right: 0;
}

.select__month{

    @include tablets{
        width: 44%;
    }
}