.verification{
    background: #FFFFFF;
    border: 1px solid #D5DFE4;
    width: 40%;
    border-radius: 10px;
    padding: 30px 25px 30px 25px;
    margin: rem(20px) auto;
    margin-bottom: 0;

    &__none{
        display: none;
    }

    @include tablets{
        width: 100%;
        border: none;
        padding: 0;
        margin-top: 20px;
    }
}

.verification__meaning{
    font-size: 16px;
    margin-bottom: rem(10px);
    display: flex;
    align-items: center;

    &--pd{
        padding-right: 6%;
    }
}

.verification__warn{
    padding: rem(10px);
    background: #FFFCE3;
    border-radius: 5px;
    margin-bottom: rem(20px);
}

.verification__warn--text{
    font-size: 16px;
    margin-bottom: rem(10px);

    &:last-child{
        margin-bottom: 0;
    }
}

.verification__account{
    font-size: 16px;
    color: #3897F0;
}

.verification__opacity{
    color: #6A7B83;
    font-size: 14px;
    line-height: 17px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.verification__input{
    padding: 10px;
    border: 1px solid #D5DFE4;
    border-radius: 5px;
    margin-bottom: 30px;
    font-size: 14px;
    width: 100%;

    &::placeholder{
        color: #B4BDC1;
    }
}

.verification__pr{
    display: flex;
    flex-direction: column;
    align-items: center;

    .verifiaction{
        margin-top: 30px;
    }

    &-active{
        display: none;
    }

    @include tablets{
        margin-top: 20px;
    }
}

.verification__opac--sec{
    color: #B4BDC1;
    font-size: 12px;
    margin-top: 12px;
    text-align: center;
    margin-bottom: 30px;
}

.verificatepracc{
    @include tablets{
        text-align: start !important;
        margin-bottom: 0 !important;
        margin-top: 40px;
    }
}

.verification__ok{
    width: 14px;
    height: 16px;
    fill: #6AC259;
    margin-left: 5px;
}

// .verification__ok--wrap{
//     width: 16px;
//     width: 16px;
//     border-radius: 50%;
//     background: #6AC259;
// }

.copy__block{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .verification__input{
        margin-right: 15px;
    }
}