$containerWidth: 1110px;
$baseFontSize: 18px;

//colors
$blue: #86c3d7;
$darkGreen: #365a49;

//z-indexes

$z-fixed-menu: 100;
$z-decor-elem: 100;
$z-tabs: 2;
$z-acco: 200;

//breakpoints

$tablets: 768px;
$phones: 480px;
$smallphones: 337px;

//fonts
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

@font-face{

    font-family: 'fontella';
    
    src: url('../fonts/Fontella.ttf') format('truetype');
    
    font-weight: normal;
    
    font-style: normal;
    
    }
    

//media

@import "media";

//setups

@import "layout"; 
@import "./components/*.scss";